/* main.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: space-around;
    width: 400px;
}

.box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-button,
.signup-button {
    background-color: #ff9100;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover,
.signup-button:hover {
    background-color: #0056b3;
}

.forgot {
    display: block;
    margin-top: 10px;
    text-align: right;
    color: orange;
    text-decoration: none;
}

.forgot:hover {
    text-decoration: underline;
}
